<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-10 col-lg-5 mt-5 border border-dark d-flex flex-column align-items-center shadow bg-dark-subtle p-3 mb-5 bg-body-tertiary rounded">
            <h3 class="h3">Editar Nome</h3>
            <table class="table mx-auto text-center">
                <form action='{% url 'update' person.id %}' method='POST'>
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <th scope="col">Atual:</th>
                            <th scope="col">Novo:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{person.name}}</td>
                            <td class="text-end">
                                <input type='text' class='text-center border border-success' name='person_name' value='{{person.name}}'>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <div class="d-flex justify-content-center mt-">
                    <button type="submit" class="btn btn-primary border border-dark mx-2">
                        <a href="{% url 'back' %}" class="text-decoration-none text-white">
                            Voltar
                        </a>
                    </button>
                    <button type="submit" class="btn btn-primary border border-dark">
                        Salvar
                    </button>
                </div>                
            </form>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>